.inline-header {
    display: inline-block;
}

#login-screen-title-container {
    position: relative;
    left: 40%;
}

#login-screen-title-text {
    padding: 15px;
    margin: 0;
}

#login-window,
#register-window {
    width: 600px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#registerButton {
    margin-top: 10px;
    width: 35%;
}

#login-window > h1 {
    margin-bottom: 5;
}

.login-page-button {
    margin: 5px;
    width: 25%;
}

#login-window div {
    padding: 0;
}

.form-control {
    width: 100%;
    margin: 5px;
}

.error-text {
    color: #fc6a6a;
    margin-bottom: 5px;
}
